:root {
    --primary: #FFF;
    --secondary: #F2F2F2;

    --sec-primary: #2F2F2F;

    --text: #555;
    --red: #CE7171;

    --header-box-shadow: #c7c7c7;

    --swiper-pagination-color: #2F2F2F;
    --swiper-pagination-bullet-inactive-color: #000;
    
    --intro-btn-color: #333;

    --bulb-color: #555;
}

.exposition__item:hover .exposition__item--inner{
    transform: translate(-24px, -24px);
    box-shadow: 12px 12px 1px #a9a9a9,
                24px 24px 1px #c0c0c0;
}

@media (max-width: 1320px) {
    .exposition__item:hover .exposition__item--inner{
        transform: translate(0, -24px);
        box-shadow: 0 12px 1px #a9a9a9,
                    0 24px 1px #c0c0c0;
    }
}

.chronicle__block--cross, .modal__close {
    background-image: url(../images/icons/cross-dark.svg);
}