body {
    display: flex;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    color: var(--text);
    font-size: 16px;
    background-color: var(--primary);

    transition: font-size .5s ease;
}

:root {
    --header-height: 4em;
    --swiper-pagination-bullet-size: .75em;
}

.container {
    width: 100%;
    /* max-width: 76.25em; */
    max-width: 82.5em;
    margin: 0 auto;
    padding: 0 1em;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;

    transition-property: color, background-color;
    transition-duration: 100ms;
    transition-timing-function: linear;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li, ol {
    list-style-type: none;
    padding: 0;
}

.page {
    width: 100%;
    /* overflow: hidden; */
    background-color: var(--primary);
    z-index: 10;
    transition: width .5s ease;
}

body.nav__active .page{
    width: calc(100% - 300px);
}

body.nav__active .nav__mask {
    width: 300px;
}

body.nav__active .header.fixed {
    width: calc(100% - 300px);
}

body.nav__active .header {
    width: calc(100% - 300px);
}

button {
    margin: 0;
    padding: 0;

    background: none;
    border: none;
    outline: none;

    cursor: pointer;
}

/* Navigation */

.nav__mask {
    position: fixed;
    right: 0;
    top: 0;

    width: 0;
    height: 100vh;
    background-color: #333;

    overflow: hidden;
    
    z-index: 1;

    transition: width .5s ease;
}

@media (max-width: 983px) {
    .nav__mask {
        width: 100%;
        z-index: 2000;

        visibility: hidden;
        background-color: rgba(0, 0, 0, 0);
        
        transition-property: visibility, background-color;
        transition-duration: 550ms;
        transition-timing-function: ease;
    }
    
    .footer__link {
        font-size: .7em;
    }
    
    .footer__text {
        font-size: .7em;
    }
    
    .mas__icons {
        font-size: 1em;
    }
}

.nav__inner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    font-size: 16px;

    padding: 1.25em;

    overflow: hidden;

    margin-left: auto;

    color: #fff;
    background-color: #333;
}

@media (max-width: 983px) {
    .nav__inner {
        align-items: flex-start;
        justify-content: flex-start;

        margin-left: auto;

        overflow: auto;

        transform: translateX(300px);
        transition: transform .5s ease;
    }
}

.nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.nav__title {
    width: 100%;
    text-align: center;
    margin-bottom: 1em;
}

.nav__link {
    display: flex;
    align-items: center;
    width: 100%;

    color: inherit;
    font-size: 18px;

    text-decoration: none;

    padding: .75em .625em;
    margin-top: .31em;

    border-radius: .4em;

    transition: background-color .2s linear;
}

.nav__link:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

.nav__close {
    display: none;

    margin-bottom: 75px;
    padding-left: 34px;

    position: relative;

    font-weight: 700;
    font-size: 18px;

    color: #fff;
}

.nav__close::before,
.nav__close::after {
    content: '';

    width: 24px;
    height: 3px;

    position: absolute;
    top: calc(50% - .15em);
    left: 0;

    background-color: #fff;
}

.nav__close::before {
    transform: rotate(45deg);
}
.nav__close::after {
    transform: rotate(-45deg);
}

@media (max-width: 983px) {
    .nav__close {
        display: block;
    }
}

/* Header */

.header {
    position: absolute;
    top: calc(100vh - var(--header-height));

    width: 100%;
    display: flex;
    align-items: center;

    height: var(--header-height);

    background-color: #101010;
    color: #fff;
    /*background-color: rgb(15, 15, 15);*/
    /* box-shadow: 0 .25em 1em #c7c7c7; */
    box-shadow: none;

    z-index: 1000;
    transition: width .5s ease, background-color .1s linear, color .1s linear;
}

.header__inner {
    display: flex;
    align-items: center;
    height: var(--header-height);
}

.header__inner--left,
.header__inner--right {
    display: flex;
    align-items: center;
    width: calc(50% - 1.5em);
}

.header__inner--left {
    justify-content: flex-start;
}

.header__inner--right {
    justify-content: flex-end;
}

.header.fixed {
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;

    background-color: var(--secondary);
    color: var(--text);

    box-shadow: 0 .25em 1em var(--header-box-shadow);
}

.header__bulb, .change__lang, .burger {
    /* display: none !important; */
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    font-size: 1em;
    font-weight: 700;

    text-transform: uppercase;
    
    height: 3em;

    position: relative;

    opacity: 1;
    transform: translateY(0);

    margin-left: auto;
    margin-right: auto;

    pointer-events: none;
    
    z-index: 1;
}

.logo__left,
.logo__right {
    width: 9.5em;

    position: absolute;
    top: calc(50% - .625em);

    color: var(--text);

    opacity: 1;
    transform: translateY(0);

    transition-property: opacity, transform, visibilty;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.header.fixed .logo__left,
.header.fixed .logo__right {
    opacity: 0;
    transform: translateY(-10px);
}

.logo__left {
    right: 100%;
}

.logo__right {
    left: 100%;
}

.logo__left {
    text-align: right;
}
.logo__right {
    text-align: left;
}

@media (max-width: 397px) {
    .logo__left,
    .logo__right {
        text-align: center;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

    .logo__left {
        top: 0;
    }
    .logo__right {
        bottom: 0;
    }

    .header.fixed .logo__left,
    .header.fixed .logo__right {
        opacity: 0;
        transform: translateX(-50%) translateY(-10px);
    }
}

.logo__img {
    margin: 0 1em;
}

.header__bulb {
    width: 40px;
    height: 40px;

    margin-left: 20px;
    margin-right: 20px;
    
    opacity: 0;
    transform: translateY(10px);

    background-image: url(../images/icons/lightbulb.svg);
    background-size: 55%;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 5px;

    pointer-events: none;

    transition-property: transform, opacity, background-color;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.header.fixed .header__bulb {
    background-color: var(--bulb-color);

    visibility: visible;
    opacity: 1;
    transform: translateY(0);

    pointer-events: all;
    transition-delay: 200ms;
}

.header__vision {
    font-size: .5em;

    opacity: 0;
    transform: translateY(10px);

    pointer-events: none;

    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;

    transition-delay: 100ms;
}

.header.fixed .header__vision {
    opacity: 1;
    transform: translateY(0);
    pointer-events: all;
    transition-delay: 100ms;
}



/*test_leng*/


/*test_leng*/


/* Change Lang */

.change__lang {
    color: var(--text);
    height: 100%;

    display: flex;
    align-items: center;

    position: relative;

    transform: translateY(10px);
    opacity: 0;

    pointer-events: none;

    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.header.fixed .change__lang {
    transform: translateY(0);
    opacity: 1;
    pointer-events: all;
}

.change__lang:hover .header__lang--list__items {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
    transition-delay: 100ms;
}

.header__lang {
    color: inherit;
    font-size: 1.2em;
    padding: .9em;
    border-radius: .3em;
}

.header__lang:hover {
    background-color: var(--primary);
}

.header__lang--list__items {
    padding-top: 4em;
}

.header__lang--list__items {
    text-align: center;

    position: absolute;
    top: 100%;
    left: 0;
    
    padding-top: 1em;

    visibility: hidden;
    transform: translateY(1em);
    opacity: 0;

    transition-property: visibility, opacity, transform;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.header__lang--list {
    background-color: var(--secondary);
    padding: .5em 1em;
    border-radius: .3em;
}

.__li {
    padding: 1em 0;
}

.header__lang--link {
    font-size: 1.2em;
    padding: .9em ;
    border-radius: .3em;
}

.header__lang--link:hover {
    background-color: var(--primary);
}

/* Intro */

.intro {
    height: calc(100vh - var(--header-height));
    overflow: hidden;
    position: relative;
    margin-bottom: var(--header-height);
    z-index: 1;
}

.intro__mask {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgb(16,16,16);
    background: linear-gradient(0deg, rgba(16,16,16,1) 5%, rgba(16,16,16,0) 115%);
    z-index: 1;
}

.intro__bg--images {
    height: 100%;
}

.intro__bg {
    position: absolute;    
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;
    object-fit: cover;

    opacity: 0;
    transform: scale(1.2);

    z-index: -3;

    transition-property: opacity, transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.intro__bg.startAnim {
    opacity: 1;
    transform: scale(1);
}

@keyframes startAnim {
    0% {
        opacity: 0;
        transform: scale(1.2);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.intro__textbox {
    max-width: 50em;
    width: 100%;
    color: #fff;
}

.intro__title {
    font-size: 2em;
    margin-bottom: 15px;
    opacity: 0;
    animation: fromBottomToTop .5s ease .5s forwards;
}

.intro__subtitle {
    font-size: 1.8em;
    opacity: 0;
    margin-bottom: 10px;
    animation: fromBottomToTop .5s ease .75s forwards;
}

.intro__sroll--btn {
    color: #fff;
    padding: .3em 1em;
    font-size: 1.8em;
    border: 1px solid #fff;
    border-radius: .3em;
    opacity: 0;
    transition: background-color .2s linear, color .2s linear;
    animation: fromBottomToTop .5s ease 1s forwards;
}

.intro__sroll--btn:hover {
    background-color: rgb(255, 255, 255, 0.15);
}

@keyframes fromBottomToTop {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

/* Burger */

.burger {
    width: 40px;
    height: 30px;
    overflow: hidden;
    position: relative;

    transform: translateY(10px);
    opacity: 0;

    transition-property: transform, opacity;
    transition-duration: 200ms;
    transition-timing-function: ease;
}

.header.fixed .burger {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 400ms;
}

.burger__span {
    position: absolute;
    top: calc(50% - (3px / 2));
    right: 0;
    width: 75%;
    height: 4px;
    background-color: #fff;
    /*background-color: #fff;*/
    /* border-radius: .1875em; */
}

.burger::before,
.burger::after {
    content: '';
    position: absolute;
    right: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;   /*background-color: #fff;*/
    /* border-radius: .1875em; */
}

.header.fixed .burger__span {
    background-color: var(--text);
}

.header.fixed .burger::before {
    background-color: var(--text);
}

.header.fixed .burger::after {
    background-color: var(--text);
}

.burger::before {
    top: 0;
    width: 100%;
}

.burger::after {
    bottom: 0;
    width: 75%;
}

/* Сам что-то придумаешь */

.block {
    width: 100%;
    min-height: 200vh;

    font-size: 1em;

    padding: 2em 1em;

    background-color: rgb(29, 29, 32);

    transition: padding .5s ease;
}


/* ==== info ====*/

.info {
    display: flex;
}

.info__inner {
    display: flex;
    flex-direction: column;
    align-items: center; 
    
    margin: 10em 0 0 0;
}

.fas fa-info-circle {
    text-align: center; 
    font-size: 3em; 
    padding: .2em 0 .7em 0;
}

.info__title {
    font-size: 3em;
    margin: 0 1em 1.075em;
    cursor: default;
    text-align: center;
    /* Animation */
    /* opacity: 0;
    transform: translateY(10px); */
}

.info__content {
    max-width: 57.55em;

    font-size: 2em;
    line-height: 1.35em;

    text-align: justify;

    color: var(--text);
}

.info__content > p {
    margin-bottom: 2em;
}
.info__content > p:last-child {
    margin-bottom: 0;
}

/* 
.info__top.showEl::before {
    animation: fromBottomToTop .25s ease .25s forwards;
}

.info__top.showEl .info__title {
    animation: fromBottomToTop .25s ease .5s forwards;
}

.info__top.showEl::after {
    animation: fromBottomToTop .25s ease .75s forwards;
}

@keyframes fromBottomToTop {
    0% {
        transform: translateY(10px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
} */


/* ==== Person ==== */

.person {
    color: var(--white);
    margin-top: 12.5em;

    position: relative;

    /*background-image: url('../images/person/afgan-bg-2.png');*/
    background-color: var(--secondary);
    background-size: cover;
    box-shadow: 0em 0em 1.25em rgba(0, 0, 0, 0.35);
    
    padding: 1em 1em 5em 1em;
    z-index: 1;
}

.person::before {
    content: '';

    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 80%;

    

    z-index: -1;
}

.person__photo {
    width: 17em;
    height: 25em;

    margin: 0 auto;

    border-radius: 1em;
    overflow: hidden;

    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
}

.person__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.person__name {
    font-size: 3em;
    text-align: center;
    font-weight: 700;
    color: var(--text);
    
    margin-top: 2em;
    cursor: default;
}

.person__date {
    font-size: 2em;
    text-align: center;
    font-weight: 400;
    color: var(--text);
    cursor: default;
}

.person__info {
    max-width: 51em;
    width: 100%;
    color: var(--text);
    font-size: 1.8em;
    margin: 4em auto 0;
    
    text-align: justify;
}

.person__info--more {
    height: 0;
    overflow: hidden;

    transition: height .5s ease;
}

.person__more-btn {
    font-size: 1em;
    color: var(--red);
}

.person__info p {
    margin-bottom: .75em;
}

.person__info > p:last-child {
    margin-bottom: 0;
}

@media (max-width: 625px) {
    .person__info {
        margin: 2em auto 0;
    }
    .person__name {
        font-size: 1.6em;
    }
    
    .info__title {
        font-size: 2em;
    }
    
    .info__content {
        font-size: 1.5em;
    }
}

/* Workers */

.workers {
    margin-top: 12.5em;
    padding-bottom: 2em;
}

.workers__title {
    font-size: 3em;
    text-align: center;
    margin-bottom: 2.5em;
}

.workers__inner {
    position: relative;
    
    width: 100%;
    height: 30em;

    padding-bottom: 2em;
}

.workers__inner:hover .workers__button-next{
    transform: translateX(0) translateY(-50%);
    opacity: 1;
}
.workers__inner:hover .workers__button-prev{
    transform: translateX(0) translateY(-50%);
    opacity: 1;
}

.workers__slider {
    width: 100%;
    height: 100%;
    
    border-radius: 1em;
    overflow: hidden;
}

.workers__slider .swiper-slide {
    border-radius: 1em;
    overflow: hidden;
    position: relative;

    transform: scale(0.75);

    transition: transform .4s ease;
}

.workers__slider .swiper-slide-active {
    transform: scale(1);
}

.worker__photo {
    width: 100%;
    height: 100%;
    object-fit: cover;

    user-select: none;
}

.worker__info {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: flex-end;
    flex-direction: column;

    text-align: center;

    color: var(--primary);

    line-height: 1;

    padding: 1em;
    
    cursor: default;
    
    background: rgb(16,16,16);
    background: linear-gradient(0deg, rgba(16,16,16,1) 0%, rgba(16,16,16,0) 40%);
}


.worker__name {
    font-size: 2.5em;
    color: #fff;
}

.worker__work {
    font-weight: 400;
    margin-top: .2em;
    cursor: default;
    color: #fff;
}

.workers__dots {
    display: flex;
    justify-content: center;
    margin-top: 2em;
}

.swiper-pagination-bullet {
    background-color: #2F2F2F;
}

.workers__about {
    display: flex;
    flex-direction: column;
    padding-left: 2em;
    padding-bottom: 2em;
}

.workers__text {
    font-size: 2em;
    margin-top: 5em;
}

.workers__button-next,
.workers__button-prev {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    width: 2em;
    height: 2em;
    background-color: var(--sec-primary);
    border-radius: 1em;

    background-position: center;
    background-size: 65%;
    background-repeat: no-repeat;

    cursor: pointer;

    z-index: 100;

    transition-property: transform, opacity;
    transition-duration: 250ms;
    transition-timing-function: ease;
}

.workers__button-next {
    background-image: url(../images/slider-arrow/right-arrow.svg);
    right: 0;

    transform: translateX(10px) translateY(-50%);
    opacity: 0;
}
.workers__button-prev {
    background-image: url(../images/slider-arrow/left-arrow.svg);
    left: 0;

    transform: translateX(-10px) translateY(-50%);
    opacity: 0;
}

@media (max-width: 1160px) {
    .workers__button-next {
        background-image: url(../images/slider-arrow/right-arrow.svg);
        right: 0;

        transform: translateX(0) translateY(-50%);
        opacity: 1;
    }
    .workers__button-prev {
        background-image: url(../images/slider-arrow/left-arrow.svg);
        left: 0;

        transform: translateX(0) translateY(-50%);
        opacity: 1;
    }
}

@media (max-width: 1160px) {
    .workers__slider .swiper-slide {
        transform: scale(1);
    }
    .workers__inner {
        padding: 0 3em;
        padding-top: 2em;
    }
    .worker__name {
        font-size: 1.5em;
    }
    .worker__work {
        font-size: 1em;
    }
}

@media (max-width: 750px) {
    .workers__inner {
        padding: 0 5em;
        padding-top: 2em;
    }
}
@media (max-width: 500px) {
    .workers__inner {
        padding: 0 1em;
        padding-top: 2em;
    }
}


/* ==== Exposition ==== */

.exposition {
    position: relative;
    color: var(--primary);

    margin-top: 12.5em;
    
    width: 100%;

    /*background-color: #272727;*/
    background-color: var(--secondary);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    z-index: 1;
}

.exposition__title {
    font-size: 3em;
    width: 100%;
    text-align: center;

    color: var(--text);

    cursor: default;
}

.exposition__inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em; 

    padding: 2em 0;
    border-radius: 1em;
}

.exposition__item {
    width: 33.33333%;
    height: 25em;

    margin-top: 3em;
    padding: 0 1em;
    border-radius: .2em;

    cursor: pointer;
}

.exposition__item--inner {
    position: relative;

    border-radius: .2em;
    transition: transform .2s ease, box-shadow .2s ease;
}

.exposition__item:hover .exposition__item--inner{
    transform: translate(-24px, -24px);
    box-shadow: 12px 12px 1px #a9a9a9,
                24px 24px 1px #c0c0c0;
}

.exposition__item--title {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;

    color: #fff;
    background-color: rgba(0, 0, 0, 0.4);

    width: 100%;
    height: 100%;

    text-align: center;
    text-transform: uppercase;
    font-weight: 700;

    border-radius: .2em;

    margin-bottom: 1em;

    opacity: 0;

    z-index: 12;
    transition: transform .2s ease, opacity .2s ease;
}

.exposition__item:hover .exposition__item--title {
    opacity: 1;
}

.exposition__item--photo {
    width: 100%;
    height: 25em;
    overflow: hidden;
    border-radius: .2em;
    position: relative;
    box-shadow: 2px 2px 1px #f2e7c92f;
}

.exposition__item--photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-radius: .2em;
}

@media (max-width: 1320px) {
    .exposition__item:hover .exposition__item--inner{
        transform: translate(0, -24px);
        box-shadow: 0 12px 1px #a9a9a9,
                    0 24px 1px #c0c0c0;
    }
}

@media (max-width: 980px) {
    .exposition__item {
        width: 50%;
    }
}

@media (max-width: 620px) {
    .exposition__item {
        width: 100%;
    }
}

/* ==== chronicle ==== */

.chronicle {
    margin-top: 12.5em;
}

.chronicle__title {
    font-size: 3em;
    cursor: default;
    text-align: center;
    margin-bottom: 3em;
    color: var(--text);
    cursor: default;
}

.chronicle__slider {
    width: 100%;
    height: 45em;

    overflow: hidden;
}

.chronicle__slider .swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

.chronicle__item {
    display: flex;
    flex-direction: column;

    width: 18em;

    color: var(--primary);
    background-color: var(--secondary);

    padding: .4em .8em;
    padding-top: 14.8em;

    position: relative;
    cursor: pointer;
    
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.25);
    border-radius: 1em;
    overflow: hidden;
}

.chronicle__item--photo {
    width: 100%;
    height: 14em;

    position: absolute;
    top: 0;
    left: 0;
}

.chronicle__item--photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chronicle__item--name {
    font-size: 1.5em;
    color: var(--text);
}

.chronicle__item--date {
    font-size: 1em;
    font-weight: 400;
    color: var(--text);
}

.chronicle__item--text {
    text-align: justify;
    font-size: 1em;
    line-height: 1.5;
    margin-top: 1.25em;
    color: var(--text);
}

.chronicle__blocks {
    background-color: var(--secondary);

    overflow: hidden;
    box-shadow: 0em 0em 1em rgba(0, 0, 0, 0.25);

    transition-property: height;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.chronicle__block--hidden {
    height: 0;
    transition: height .5s ease;
}

.chronicle__block--inner {
    display: flex;
    padding: 0.625em;
    padding-top: 2.625em;

    position: relative;
}

.chronicle__block--cross {
    width: 1em;
    height: 1em;

    position: absolute;
    top: 1.2em;
    left: 0.625em;

    opacity: .5;
    background-image: url(../images/icons/cross-dark.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.chronicle__block--photo {
    width: 14.3em;
    height: 18.25em;
    box-shadow: 0em 0em 1.25em rgba(0, 0, 0, 0.35);
}

.chronicle__block--photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chronicle__block--textbox {
    width: 100%;
    padding-left: 1.5em;
    color: var(--primary);
}

.chronicle__block--name {
    font-size: 2em;
    font-weight: 700;
    line-height: 1.5;
    color: var(--text);
    cursor: default;
}

.chronicle__block--info {
    font-size: 1.3em;
    line-height: 1.2;
    text-align: justify;
    color: var(--text);
}

.chronicle__block--info p {
    margin-bottom: 1em;
}
.chronicle__block--info p:last-child {
    margin-bottom: 0;
}

@media (max-width: 600px) {
    .chronicle__block--inner {
        flex-direction: column;
    }
    .chronicle__block--textbox {
        padding: 0;
    }
    .chronicle__block--photo {
        margin: 0 auto;
    }
    .chronicle__block--name {
        text-align: center;
        margin-top: 1em;
        margin-bottom: 1em;
    }
}

/* ==== news ==== */
.news {
    width: 100%;
    margin-top: 12.5em;
    margin-bottom: 12.5em;
    /*background-color: #272727;*/
    background-color: var(--secondary);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.35);
    
}

.news__inner {
    display: flex;
    gap: 2em;
    padding: 3em 0;
    border-radius: 1.25em;
    

}

.news__title {
    font-size: 3em;
    text-align: center;
    padding: 1em 0em;
    
    color: var(--text);
}

.news__item {
    display: flex;
    flex-direction: column;
    
    width: 33.33333%;

    
    overflow: hidden;
    
    border-radius: .625em;
    /*background-color: #494949;*/
    background-color: var(--primary);
    color: var(--text);
    box-shadow: 0em 0em 1.25em rgb(0 0 0 / 20%);
}

.news__item__photo {
    width: 100%;
    height: 30em;

    overflow: hidden;
    border-radius: .5em .5em 0em 0em;
}

.news__item__photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.news__item__title {
    font-size: 2em;
    margin-top: 0.1em;
    padding: .7em;
}

.news__item__date {
    font-size: 1.5em;
    font-weight: 600;
    padding: 1.2em;
}

.news__item__content {
    font-size: 2em;
    padding: 0 1em;
    margin-bottom: 1em;
    text-align: justify;
}

.news__item__link {
    font-size: 1.5em;
    padding: 1em;
    color: var(--red);
    margin-top: auto;
}

@media (max-width: 1210px) {
    .news__inner {
        flex-direction: column;
        align-items: center;
    }
    .news__item {
        max-width: 31.25rem;
        width: 100%;
    }
    
}

/* ==== order ==== */
.order {
    display: flex;
    background-color: var(--primary);
    margin-bottom: 12.5em;
}

.order__inner {
    display: flex;
}

.order__title {
    font-size: 3em;
    text-align: center;
    color: var(--text);
    padding-bottom: 1em;
}

.order__content {
    flex-direction: column;
    font-size: 1.7em;
    margin: 0 auto;
    
}

.order__elex {
    padding: .8em 0 0;
    text-align: center;
}

.order__elex__title {
    text-align: center;
}
.order__elex__content {
    text-align: center;
}

.order__tel {
    text-align: center;
    padding: .8em 0 0;
}

.order__messengers {
    text-align: center;
    padding: .4em 0 0;
    font-size: .7em;
}

.order__elex__btn {
    font-size: 1em;
    padding: .5em;
    color: var(--text);
    font-weight: 700;
    border: solid 0.05em var(--text);
    border-radius: 0.5em;
    transition: background-color .1s linear;
}

.order__elex__btn:hover{
    color: #fff;
    background-color: rgba(0, 0, 0, 0.35);
}

.order__time {
    text-align: center;
    padding: .2em 0 0;
}

.fas  {
    font-size: 3em; 
    padding: .3em 0;
}

/* ==== footer ==== */
.footer {
    display: flex;
    overflow: hidden;
    height: auto;
    background-color: var(--secondary);
    margin-top: auto;
    box-shadow: var(--header-box-shadow);
}

.footer__inner {
    display: flex;
}

.footer__item {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
    width: 33.33333%;
    padding: 3em 1em;
}

.footer__item::nth-child(2) {
    align-items: center;
}

.footer__itemOne {
    display: none;
}

.item__inner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-decoration: none;
}

.footer__text {
    font-size: 1em;
    color: var(--text);
}

.footer__link {
    color: var(--red);
    text-decoration: none;
}

.aa {
    color: var(--red);
}

.fab {
    font-size: 2.4em;
    padding: .2em .1em;
}

/* ==== Models ==== */
.modal {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 1em;
    overflow: auto;

    background-color: rgba(0, 0, 0, 0.8);

    visibility: hidden;
    opacity: 0;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    --swiper-pagination-color: #fff;

    transition-property: visibility, opacity;
    transition-duration: 500ms;
    transition-timing-function: ease;
}

.modal.active {
    visibility: visible;
    opacity: 1;
}

.modal__dialog {
    display: flex;
    max-width: 1200px;
    width: 100%;
    margin: auto;
    position: relative;

    background-color: var(--primary);
    border-radius: .7em;

    overflow: hidden;
}

.modal__close {
    padding: 0;
    opacity: .5;

    width: 15px;
    height: 15px;
    
    border: 0;
    cursor: pointer;

    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    position: absolute;
    top: 1em;
    right: 1em;
    z-index: 1;

    transition: opacity .1s linear;  
}

.modal__close:hover {
    opacity: 1;
}

/**/
.modal-work {
    display: flex;
}

/*.modal-workOne {
    display: none;
}*/

.modal-work__preview {
    max-width: 800px;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.modal-work__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;

    transform: translate3d(-50%, -50%, 0);
}

.modal-work__content {
    max-width: 400px;
    width: 100%;
    padding: 3.4rem 6.6rem 1rem 1.73rem;
    position: relative;
}

.modal-work__header {
    margin-bottom: 2.2rem;
}

.modal-work__title {
    font-size: 2.12rem;
    color: var(--text);
    font-weight: 700;
    text-transform: uppercase;
}

.modal-work__info {
    font-size: 1.2rem;
    color: var(--text);
    text-transform: uppercase;
}

.modal-work__info-divider {
    margin: 0 1rem;
}

.modal-work__client {
    margin-bottom: 2.2rem;
}

.modal-work__client-title {
    margin-bottom: .2rem;

    font-size: 1.06rem;
    color: var(--text);
    font-weight: 700;
}

.modal-work__client-company {
    font-size: .94rem;
    font-style: italic;
    color: var(--text);
}

.modal-work__text {
    margin-bottom: 8.66rem;

    font-size: 1rem;
    line-height: 2;
    color: var(--text);
    font-weight: 300;
}

.modal-work__footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 1.8rem 1rem;

    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.modal-work__btn {
    padding: 0;

    background: none;
    border: 0;
    cursor: pointer;

    font-family: inherit;
    font-size: .94rem;
    color: var(--text);
    text-transform: uppercase;
}

.modal__swiper {
    width: 100%;
    height: 100%;
}

.modal__swiper .swiper-slide img{
    max-width: 800px;
    width: 100%;
    height: 100%;

    object-fit: cover;
}

.modal__swiper .swiper-slide{
    width: 100% !important;
}

.modal__swiper-button-prev,
.modal__swiper-button-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%) rotate(45deg);

    width: 30px;
    height: 30px;

    cursor: pointer;
    border: 5px solid #fff;

    outline: none;

    z-index: 1000;
}

.modal__swiper-button-prev {
    left: 20px;

    border-top: none;
    border-right: none;
}

.modal__swiper-button-next {
    right: 20px;

    border-left: none;
    border-bottom: none;
}

.modal__swiper-pagination {
    position: absolute;
    bottom: 0;

    display: flex;
    justify-content: center;

    z-index: 1000;
}

/* Media */
@media (max-width: 1150px) {
    .modal-work__text {
        line-height: 1.3;
        margin-bottom: 0em;
    }
}

@media (max-width: 1060px) {
    .modal-work__header {
        margin-bottom: 1.2rem;
    }
    .modal-work {
        flex-direction: column;
    }
    .modal-work__content {
        max-width: 100%;
        padding: 1em;
        padding-bottom: 3em;
    }
    .modal-work__preview {
        max-width: 100%;
    }
    .modal__swiper .swiper-slide img {
        max-width: 100%;
    }
    .modal__swiper-button-prev,
    .modal__swiper-button-next {
        display: none;
    }
    .modal-work__footer {
        padding: 1em;
    }
}

@media (max-width: 983px) {
    body.nav__active {
        overflow: hidden;
    }
    
    body.nav__active .page{
        width: 100%;
    }
    
    body.nav__active .nav__mask {
        width: 100%;

        visibility: visible;
        background-color: rgba(0, 0, 0, 0.75);
    }

    body.nav__active .nav__inner {
        transform: translateX(0);
    }
    
    body.nav__active .header.fixed {
        width: 100%;
    }
    
    body.nav__active .header {
        width: 100%;
    }
}



@media (max-width: 450px) {
    
    .info__inner {
        margin: 2em 0 0 0;
    }
    
    .fas fa-info-circle {
        font-size: 2em; 
        padding: .2em 0 .7em 0;
}
    
    .info__title {
        font-size: 2em;
    }
    
    .info__content {
        font-size: 1.5sem;
        padding: 0 1em;
    }
    
    .intro__title {
        font-size: 1.3em;
    }
    
    .intro__subtitle {
        font-size: 1em;
    }
    
    .intro__sroll--btn {
        font-size: .9em;
    }
    
    .person {
        margin-top: 5em;
    }
    
    .person__photo {
        width: 14em;
        height: 20em;
    }
    
    .person__date {
        font-size: 1.5em;
    }
    
    .person__name {
        font-size: 2em;
    }
    
    .person__info {
        font-size: 1.5em;
    }
    
    .workers__title {
        font-size: 2em;
    }
    
    .worker__work {
        font-size: 1.5em;
    }
    
    .exposition__title {
        font-size: 2em;
    }
    
    .chronicle__title {
        font-size: 2em;
    }
    
    .chronicle__block--name {
        font-size: 1.5em;
        line-height: 1;
    }
    
    .chronicle__block--info {
        font-size: .9em;
        line-height: 1.3;
    }
    
    .workers {
        margin-top: 5em;
    }
    
    .workers__title {
        margin-bottom: 2em;
    }
    
    .exposition {
        margin-top: 5em;
    }
    
    .chronicle {
        margin-top: 5em;
    }
    
    .order {
        margin-bottom: 5em;
    }
    
    .news { 
        margin-top: 5em;
        margin-bottom: 5em;
    }
    
    .news__title {
        font-size: 2em;
        padding: 1em 0em 0em 0em ;
    }
    .news__item__title {
        margin-top: .5em;
        padding: .5em;
    }
    
    .news__item__content { 
        font-size: 1.3em;
        margin-top: .5em;
    }
    
    .news__item__photo {
        width: 100%;
        height: 15em;
    }
    
    .order__title {
        font-size: 2em;
        padding-bottom: .2em;
    }
    
    .order__elex__title {
        font-size: 1.2em;
        
    }
    
    .order__elex__content {
        font-size: 1em; 
    }
    
    .fas {
        font-size: 2em; 
        padding: .3em 0;
    }
    
    .order__elex__btn {
        font-size: .8em;
    }
    
    .footer__item {
        width: 80%;
    }
    
    .footer__inner {
        flex-direction: column;
        align-items: center;
    }
    
    .footer__link {
        font-size: 1.5em;
    }
    
    .footer__text {
        font-size: 1.5em;
    }
    
    .mas__icons {
        font-size: 1.4em;
    }
}


@media (max-width: 590px) {
    .footer__item {
        font-size: .8em;
        padding: 1em .2em;
    }
    
    .footer__item:nth-child(1) {
        display: none;
    }
    
    .footer__item:nth-child(3) {
        display: none;
    }
}